body{
     background-color:rgb(233, 229, 233);
     height: 1000px;
     
     background-size: auto;
    
    background-repeat: no-repeat;
    background-size:auto;
    }

	
.myclass{
	color:#756050;
	text-align:center;
    padding-top: 10%;
    font-size: 70px;
    font-family: sans-serif;
}

.slide-fade-in {
    opacity: 0;
    transform: translateX(-100px);
    animation: slideFadeIn 2s ease-out forwards;
    font-size: 100px;
    text-align: center;
    font-family: garamond,serif;
    color:black;
    text-align: center;
    font-weight: 45;
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

a{
    text-decoration:none;
    color: rgb(12, 9, 9);
    font-family: sans-serif; 
}
.tab{
    height: 100px;
    display: flex;
   
    flex-direction: column;
    max-width: 960px;
    min-width: 720px;
    width: 100%;
    margin: 0 ;
}

.tab ul{
    list-style: none;
    padding-left: 0%;
    align-items:center ;
    display: flex;
}

.tab ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    border: 1px ;
    cursor: pointer;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.tab ul li img{
    max-height: 18px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 2px;
}

